<div class="card">
    <div class="card-header ps-5 pt-4 pb-4">
        <h5 class="mb-0"><i class="fa-solid fa-location-dot me-2"></i>Editar Negocio</h5>
    </div>
    <div class="card-body p-5">
        <form #f="ngForm">
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Nombre: </label>
                <div class="col-sm-10">
                    <input #nombre="ngModel" class="form-control"
                        [ngClass]="nombre.invalid && nombre.dirty ? 'is-invalid' : ''" type="text" name="nombre"
                        [(ngModel)]="negocio.nombreNegocio" value="{{negocio.nombreNegocio}}" required />
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Descripción: </label>
                <div class="col-sm-10">
                    <textarea #descripcion="ngModel"
                        [ngClass]="descripcion.invalid && descripcion.dirty ? 'is-invalid' : ''" type="text"
                        [(ngModel)]="negocio.descripcion" name="descripcion" required
                        class="form-control"></textarea>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Ubicación: </label>
                <div class="col-sm-10">
                    <div id="mapa" style="height: 400px;"></div>
                </div>
            </div>
            
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Imágenes: </label>
                <div class="col-sm-10">
                    <input class="form-control" type="file" name="imagenes" (change)="onFileChange($event)" multiple required />
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Tipo de Negocio: </label>
                <div class="col-sm-10">
                    <select name="tipo" required class="form-select" [(ngModel)]="negocio.categoria">
                        <option value="" selected>Seleccione un tipo para el negocio</option>
                        <option *ngFor="let item of tiposNegocio" [value]="item">{{item}}</option>
                    </select>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Horarios: </label>
                <div class="col-sm-8">
                  <div *ngFor="let item of horarios; let i = index; trackBy: trackByIndex" class="row mb-2">
                    <div class="col">
                      <select name="dia-{{i}}" class="form-select" [(ngModel)]="item.dia" required>
                        <option value="" selected>Seleccione un día</option>
                        <option *ngFor="let dia of dias" [value]="dia">{{dia}}</option>
                      </select>
                    </div>
                    <div class="col">
                      <input class="form-control" placeholder="Hora Inicio" type="time" name="horaInicio-{{i}}"
                        [(ngModel)]="item.horaInicio" required />
                    </div>
                    <div class="col">
                      <input class="form-control" placeholder="Hora Fin" type="time" name="horaFin-{{i}}"
                        [(ngModel)]="item.horaFinal" required />
                    </div>
                    <div class="col-auto">
                      <button class="btn btn-danger" type="button" (click)="eliminarHorario(i)">
                        <i class="fa-solid fa-trash"></i>
                      </button>
                    </div>
                  </div>
                  <div class="row mb-2">
                    <div class="col">
                      <button class="btn btn-primary" type="button" (click)="agregarHorario()">
                        <i class="fa-solid fa-circle-plus me-1"></i>Agregar horario
                      </button>
                    </div>
                  </div>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Teléfonos: </label>
                <div class="col-sm-10">
                    <div *ngFor="let telefono of negocio.telefonos; let i = index; trackBy: trackByIndex"
                        class="row mb-2">
                        <div class="col">
                            <input class="form-control" type="tel" name="telefono-{{i}}"
                                [(ngModel)]="negocio.telefonos[i]" required />
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-danger" type="button"
                                (click)="negocio.telefonos.splice(i, 1)">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                    </div>

                    <button class="btn btn-primary mt-2" type="button" (click)="editarNegocioDTO.telefonos.push('')">
                        <i class="fa-solid fa-circle-plus me-1"></i>Agregar teléfono
                    </button>
                </div>
            </div>
            <div class="col-md-4">
            <button class="btn btn-primary" (click)="ActualizarNegocio()" [disabled]="f.invalid">
                <i class="fa-solid fa-circle-plus me-1"></i>Actualizar negocio
            </button>
            <a routerLink="/gestion-negocios" class="btn btn-danger"><i class="fa-solid fa-times me-1"></i>Rechazar</a>
        </div>
        </form>
    </div>
</div>
