<div class="container">
  <div class="row">
    <!-- Sidebar con las categorías -->
    <div class="col-md-3">
      <h4>Categorías</h4>
      <ul class="list-group">
        <li *ngFor="let categoria of categorias" class="list-group-item list-group-item-action"
          (click)="seleccionarCategoria(categoria)" style="cursor: pointer;">
          {{ categoria }}
        </li>
      </ul>
    </div>

    <!-- Lista de negocios -->
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <h4>Negocios Disponibles</h4>
        </div>
        <!-- Tarjeta de negocio -->
        <div class="container">
          <div class="row">
            <div class="col-md-4 mb-4" *ngFor="let negocio of negociosFiltrados">
              <a routerLink="/detalle-negocio/{{negocio.id}}/{{negocio.ubicacion.latitud}}/{{negocio.ubicacion.longitud}}" style="text-decoration: none;">
                <div class="card">
                  <img [src]="negocio.imagenes[0]" class="card-img-top card-img-top-custom" [alt]="negocio.nombreNegocio" [title]="negocio.nombreNegocio">
                  <div class="card-body">
                    <h5 class="card-title">{{ negocio.nombreNegocio }}</h5>
                    <p class="card-text">{{ negocio.descripcion }}</p>
                    <p class="card-text"><small class="text-muted">{{ negocio.direccion }}</small></p>
                    <p class="card-text"><small class="text-muted">{{ negocio.telefonos }}</small></p>
                    <p class="card-text"><small class="text-muted">Calificación: {{ negocio.calificacion }}</small></p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        
                
        
        <!-- Repite las tarjetas según sea necesario -->
      </div>
    </div>
  </div>
</div>