.carousel-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .stars {
    color: gold;
    font-size: 1.5rem;
  }

  .btn-icon {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
.btn-icon i {
    font-size: 24px; /* Ajusta el tamaño del icono según sea necesario */
    color: red; /* O el color que prefieras */
}